#drop_file {
	border:dashed;
	width:600px;
	height:200px;
}
#price_compare .row {
	display:inline-block;
	width:100%;
}

#price_compare .row .sku,
#price_compare .row .myPrice, 
#price_compare .row .minPrice {
	width:20px;
	border:solid;
	border-width:1px;
	font-size: 18px;
	font-weight: bold;
	color: #28428B;
	padding-left: 2px;
}

#price_compare .row .company {
	width:100px;
	border:solid;
	border-width:1px;
	font-size: 18px;
	font-weight: bold;
	color: #28428B;
	padding-left: 2px;
}