<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<authorization>
		<allow pages="*" users="@" />
		<allow pages="Login.*" users="*" />
		<allow pages="PurchaseOrder.Print.*" users="*" />
		<allow pages="Order.Print.*" users="*" />
		<deny pages="*" users="?" />
	</authorization>
</configuration>