.searchField.eta [search_field] {
	border: none;
	border-bottom: 1px #ccc solid;
	border-radius: 0px;
}

select.isordered {
	width: 100px;
}
.cell.productsku,
.cell.productname {
	width: 25%;
}

.cell.orderno,
.cell.orderstatus {
	width: 8%;
}
.cell.eta {
	width: 15%;
}
.cell.isordered,
.cell.qty {
	width: 5%;
}
.cell.comments {
	width: auto;
}

.cell .ticked {
	background: transparent url(/themes/default/images/i_ok.png) no-repeat left bottom;
	height:16px;
	width: 16px;
}
.cell.orderno .orderNolink:hover {
	text-decoration: underline;
}