@media print {
    body {
        background: white;
		border: solid 1px black ;  
		margin: 0px;  
    }
    table {
        page-break-after: auto
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }
    td {
        page-break-inside: avoid;
        page-break-after: auto
    }
    thead {
        display: table-header-group
    }
    tfoot {
        display: table-footer-group
    }
    .hidewhenprint,.hidewhenprint * {
        display: none !important;
    }
}
@page 
 {
     size: auto;   /* auto is the initial value */
     margin: 0mm;  /* this affects the margin in the printer settings */
 }

.box {
	padding: 5px;
	display: ininline-block;
}

.print-row {
	width: 100%;
	margin: 0;
	padding: 0;
}

.inlineblock {
    display: inline-block;
}

.pagewrapper.orderprint {
    background: white;
}

.orderViewWrapper,.operationWrapper {
    vertical-align: top;
    padding: 5px;
}

.orderViewWrapper {
    width: 511pt;
    background: white;
}

.box {
    border: 2px #000000 solid;
}

/************ address info row ****************/
.title_row .sep {
    background: transparent url('/themes/default/images/inv_sep.png')
        repeat-y 0 0;
    height: 7px;
    margin: 5px 0;
}

.title_row .logo {
    width: 60%;
}

.title_row .logo .orderno {
    font-size: 20px;
    font-weight: bold;
    color: #c0c0c0;
}

.title_row .info {
    color: #c15760;
    font-weight: bold;
    text-align: right;
    width: 38%;
}

.title_row .info .abn {
    font-size: 11px;
}

.title_row .info .dates {
    color: black;
    font-size: 11px;
    padding: 20px 0 0 0;
}

.title_row .info .dates .dateRow {
    padding: 1px 0;
}

.title_row .info .dates .rowTitle {
    font-weight: normal;
    text-align: right;
    padding: 0 3px 0 0;
}

.title_row .info .dates .rowContent {
    text-align: left;
    width: 80px;
}

/************ address info row ****************/
.addr_info {
    width: 100%;
}

.addr_info .half {
    width: 49%;
    height: 100px;
}

.addr_info .half .addr {
    padding: 5px 0 0 30px;
    font-weight: bold;
    vertical-align: top;
    text-transform: uppercase;
}

table.orderview {
    width: 100%;
}

table.orderview tr.header {
    font-weight: bold;
    border: 2px black solid;
}

table.orderview tr.header td {
    border-top: 2px black solid;
    border-bottom: 1px black solid;
    height: 24px;
    vertical-align: bottom;
    padding: 0 5px 5px 8px;
}

table.orderview tr.itemRow td:first-child,table.orderview tr.header td:first-child
    {
    border-left: 2px black solid;
}

table.orderview tr.itemRow td:last-child,table.orderview tr.header td:last-child
    {
    border-right: 2px black solid;
}

table.orderview tr.itemRow td {
    border-right: 1px black solid;
}

table.orderview tr.itemRow:nth-child(2n) {
    background: none repeat scroll 0 0 #F7F7F7;
}

table.orderview tr.itemRow:nth-child(2n+1) {
    background: none repeat scroll 0 0 #FFFFFF;
}

table.orderview tr.itemRow:last-child td {
    border-bottom: 2px black solid;
}

table.orderview tr.itemRow td {
    padding: 5px;
}

table.orderview .qty {
    width: 40px;
}

table.orderview .sku {
    width: 100px;
}

table.orderview .uprice,table.orderview .tprice {
    width: 75px;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}

table.orderview .name {
    width: auto;
}

table.orderview .order_tc,table.orderview .order_receiver_signature,table.orderview .order_company_details,table.orderview .order_payments .payment_details,table.orderview .order_payments .payment_summary
    {
    vertical-align: top;
    margin-top: 2px;
}
/******************** payment_summary *******************/
table.orderview .order_payments .payment_summary {
    width: 34%;
    padding: 5px;
}

table.orderview .order_payments .payment_summary .print-row {
    padding: 2px 0;
}

table.orderview .order_payments .payment_summary .print-row .details_title {
    width: 132px;
}
table.orderview .order_payments .payment_summary .print-row .details_content {
    width: 75px;
    text-align: right;
    font-style: italic;
    font-size: 12px;
}
table.orderview .order_payments .payment_summary .print-row.overdue .details_content {
    font-weight: bold;
    color: #C62A2B;
    text-decoration: underline;
}

/******************** payment_details *******************/
table.orderview .order_payments .payment_details {
    width: 65%;
    margin-right: 2px;
}

table.orderview .order_payments .payment_details .shipping_details {
    padding: 3px;
    font-size: 11px;
    margin-top: 2px;
    min-height: 55px;
}

table.orderview .order_payments .payment_details .shipping_details .print-row
    {
    padding: 3px 0;
}

table.orderview .order_payments .payment_details .shipping_details .print-row .half
    {
    width: 49%;
}

table.orderview .order_payments .payment_details .shipping_details .print-row .title
    {
    width: 90px;
}

table.orderview .order_payments .payment_details .bank_details {
    font-size: 11px;
}

table.orderview .order_payments .payment_details .bank_details .bank_title
    {
    display: block;
    margin: 5px 4px;
}

table.orderview .order_payments .payment_details .bank_details .details_title
    {
    font-weight: bold;
    margin: 2px 10px;
    display: inline-block;
}

/******************** terms and conditions *************************/
table.orderview .order_tc {
    font-size: 9px;
}

table.orderview .order_tc .tc_title {
    padding: 2px 0 2px 5px;
}

table.orderview .order_tc .tc_details {
    padding: 0 0 5px 30px;
}

table.orderview .order_tc .tc_details ol {
    width: 99%;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}

table.orderview .order_tc .tc_details ol li:nth-child(even) {
    margin-right: 0;
}

/************************* order_receiver_signature *****************************/
table.orderview .order_receiver_signature .third {
    padding: 5px 0;
    width: 32%;
}

/************************* order_company_details *****************************/
table.orderview .order_company_details .addr,table.orderview .order_company_details .url
    {
    text-align: center;
    font-size: 11px;
    width: 100%;
}

table.orderview .order_company_details .details_title {
    font-weight: bold;
    text-transform: uppercase;
    color: #c62a2b;
    margin: 0 4px 0 0;
}


/*******************************************************************/
/************* operational DIV ************************************/
/*******************************************************************/
.operationWrapper {
    width: 300px;
}

.operationWrapper .operation_box .operation_title {
    background-color: #F5F6F7;
    background-position: 100% 0;
    border: 1px solid #E6E6E6;
    border-radius: 3px 3px 0 0;
    height: 20px;
    padding: 10px 10px 5px;
    font-size: 14px;
    font-weight: bold;
}
.operationWrapper .operation_box .operation_title.expandable {
    cursor: pointer;
}
.operationWrapper .operation_box .operation_title.expandable.collapsed {
    border-radius: 3px;
}
.operationWrapper .operation_box .operation_title.expandable.collapsed:hover,
.operationWrapper .operation_box .operation_title.expandable:hover {
    background-color: rgb(241, 242, 243);
}
.operationWrapper .operation_box .operation_title.expandable .icon{
    width: 12px;
    height: 12px;
    float: right;
    background: url("/themes/default/images/collapse-buttons-sprite.png") no-repeat scroll -10px -10px rgba(0, 0, 0, 0);
}
.operationWrapper .operation_box .operation_title.expandable:hover .icon {
    background-position: -10px -40px;
}

.operationWrapper .operation_box .operation_title.expandable.collapsed .icon{
    background-position: -10px -100px;
}
.operationWrapper .operation_box .operation_title.expandable.collapsed:hover .icon{
    background-position: -10px -70px;
}

.operationWrapper .operation_box .operation_content {
    display: block;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E6E6E6;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-style: solid;
    border-width: 0 1px 1px;
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #BBBBBB;
    padding: 10px 10px 5px;
}
.comments_details .print-row{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.orderview .order_payments .comments_details {
    margin-right: 2px;
    width: 65%;
}