.searchField {
	width: 22%;
}
.searchField label{
	font-size: 9px;
}
.searchField [search_field]{
	width: 90%;
}

.cell .field_div{
	display:table-row;
	padding: 1px 0;
}

.cell .field_div .inlineblock {
	display:table-cell;
}
.cell .field_div .title{
	width: 20%;
	text-align: right;
	padding: 0 4px 0 0;
}
.cell .field_div .divcontent{
	width: auto;
}

.orderInfo {
	width: 20%;
}
.orderInfo .orderNo {
	font-weight: bold;
	cursor: pointer;
}
.orderInfo .orderNo:hover {
	text-decoration: underline;
}

.shippingAddr {
	width: auto;
}
.shippingAddr.cell .field_div .title{
	width: auto;
}

.status {
	width: 5%;
}

.purchasing,
.warehouse,
.payment {
	width: 12%;
}

.icon.ok {
	background: transparent url(/themes/default/images/i_ok.png) no-repeat left bottom;
}
.icon.warning {
	background: transparent url(/themes/default/images/i_warning.png) no-repeat left bottom;
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 500px auto;
	background-color: transparent;
	background-image: url("/themes/default/images/icons.jpg");
	background-repeat: none;
	margin-right: 2px;
}

.addr_addr,.addr_contactNo,.addr_contact_name {
	display: block;
}
.addr_contact_name .icon {
	background-position: -10px -199px;
}
.addr_contact_email .icon {
	background-position: -204px -199px;
}
.addr_contactNo .icon {
	background-position: -58px -199px;
}
.addr_addr .icon {
	background-position: -83px -170px;
}
.orderDate .icon {
	background-position: -325px -297px;
}
.totalDue .icon {
	background-position: -83px -297px;
}
.paymentdetails .icon {
	background-position: -251px -297px;
}
.vieworderitems .icon {
	 background-position: -373px -233px;
}
