#drop_file {
	border:dashed;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
#drop_file:hover {
	border-color: black;
}
#drop_file .editcompaniesBtn {
	float:right;
}
#price_compare .row .sku,
#price_compare .row .myPrice, 
#price_compare .row .priceDiff, 
#price_compare .row .minPrice {
	width:100px;
}

#price_compare .row .minPrice {
	background: lightblue;
	color: black;
}

#price_compare .row .company {
	width:auto;
}
#price_compare .row .company.cuspntr {
	text-decoration: underline;
}
#price_compare .row .priceDiff.overmin{
	background: red;
	color: white;
}
#price_compare .row .priceDiff.undermin{
	background: green;
	color: white;
}

.loading {
	width: 32px;
	height: 32px;
	margin: 0 0 0 50px;
	background: transparent url(/themes/default/images/loading_big.gif) no-repeat bottom left;
	background-size: 32px 32px;
}