html, body {
	height: 100%;
	min-height: 100%;
	font-size: 12px;
}
.panel{
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.panel-default {
	border-color: #ddd;
}
.panel-header, .panel-body {
    border-color: inherit;
}
.main-form {
	height: 87%;
    min-height: 87%;
}

/* vertical alignment styles */
.v-top {
    vertical-align:top;
}
.v-middle {
    vertical-align:middle;
}
.v-bottom {
    vertical-align:bottom;
}

.pageContent {
	height: auto !important;
	min-height: 100%;
}

.form-signin {
	margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.footer {
	background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    width: 100%;
}


#resultDiv thead,
.list-group-item.header {
	font-weight: bold;
}
.order_item .orderInfo .orderNo {
	display: inline !important;
}
.order_item [payment],
.order_item [purchasing],
.order_item [warehouse] {
	width: 20%;
}
.order_item:hover [order_status="INSUFFICIENT STOCK"],
.order_item [order_status="INSUFFICIENT STOCK"],
.po_item [order_status="RECEIVING"],
.po_item [order_status="RECEIVING"] {
	background-color: yellow;
	color: black;
}
.order_item [order_status="ETA"],
.order_item:hover [order_status="ETA"],
.order_item [order_status="STOCK CHECKED"],
.order_item:hover [order_status="STOCK CHECKED"],
.po_item [order_status="ORDERED"],
.po_item [order_status="ORDERED"]
{
	background-color: orange;
	color: white;
}
.order_item [order_status="PICKED"],
.order_item:hover [order_status="PICKED"],
.order_item [order_status="SHIPPED"],
.order_item:hover [order_status="SHIPPED"],
.po_item [order_status="CLOSED"],
.po_item [order_status="CLOSED"]
{
	background-color: green;
	color: white;
}
.po_item [order_status="RECEIVED"],
.po_item [order_status="RECEIVED"] {
	background-color: blue;
	color: white;
}
.order_item [order_status="CANCELLED"],
.order_item:hover [order_status="CANCELLED"],
.order_item [order_status="ON HOLD"],
.order_item:hover [order_status="ON HOLD"],
.po_item [order_status="CANCELED"],
.po_item [order_status="CANCELED"] {
	background-color: red;
	color: white;
}

.drop_file_div:hover {
	border-color: black;
}
.noborder {
	border: none;
}

.price_search_result .price_diff.over_priced {
	background: red;
	color: white;
}
.price_search_result .price_min {
	border-right: 3px #aaa solid;
}
.popover .popover-content.list-group {
	padding: 0px;
}

.address-div .dl-horizontal dt {
	width: 20px;
}
.address-div .dl-horizontal dd {
	margin-left: 30px;
}
.order-info-div .dl-horizontal dt {
	width: 60px;
}
.order-info-div .dl-horizontal dd {
	margin-left: 70px;
}
.update_order_item_div .dl-horizontal dt {
	width: 80px;
}
.update_order_item_div .dl-horizontal dd {
	margin-left: 90px;
}
dl.dl-condensed {
	margin-bottom: 0px;
}

table.table thead td {
	font-weight: bold;
}
.order_change_details_table [order_item_id] > .purchasing,
.order_change_details_table [order_item_id] > .warehouse {
	width: 25%;
}
.order_change_details_table [order_item_id] > .purchasing,
.order_change_details_table [order_item_id]:hover > .purchasing {
	background: #D9EDF7;
}
.order_change_details_table [order_item_id] > .uprice,
.order_change_details_table [order_item_id] > .tprice {
	width: 10%;
	text-align: right;
}
.order_change_details_table [order_item_id] > .qty {
	width: 5%;
	text-align: center;
}

.thumbnail-holder.btn-hide-row {
	position:relative;
}
.thumbnail-holder.btn-hide-row .btns {
	position:absolute;
	bottom: 25px;
	right: 22px;
}

.btn-hide-row .btns {
	visibility: hidden;
}
.btn-hide-row:hover .btns {
	visibility: visible;
}

.treegrid-indent,
.treegrid-explander{
    display: inline-block;
    height: 14px;
    position: relative;
    width: 14px;
    text-align: center;
}

.form-group-sm-label label {
	font-size: 11px;
	color: #aaa;
	margin: 0 0 2px 3px;
}

.datepicker-layer-fixer {
	z-index: 9999;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}