/* vertical alignment styles */
.v-top {
    vertical-align:top;
}
.v-middle {
    vertical-align:middle;
}
.v-bottom {
    vertical-align:bottom;
}

.pageContent {
	min-height: 500px;
}

.form-signin {
	margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.footer {
	background-color: #f5f5f5;
    bottom: 0;
    padding: 10px 0;
    height: 60px;
    width: 100%;
}


#resultDiv thead,
.list-group-item.header {
	font-weight: bold;
}
.order_item .orderInfo .orderNo {
	display: inline !important;
}
.order_item [payment],
.order_item [purchasing],
.order_item [warehouse] {
	width: 20%;
}
.order_item:hover [order_status="INSUFFICIENT STOCK"],
.order_item [order_status="INSUFFICIENT STOCK"] {
	background-color: yellow;
	color: black;
}
.order_item [order_status="ETA"],
.order_item:hover [order_status="ETA"],
.order_item [order_status="STOCK CHECKED"],
.order_item:hover [order_status="STOCK CHECKED"]{
	background-color: orange;
	color: white;
}
.order_item [order_status="PICKED"],
.order_item:hover [order_status="PICKED"],
.order_item [order_status="SHIPPED"],
.order_item:hover [order_status="SHIPPED"] {
	background-color: green;
	color: white;
}
.order_item [order_status="CANCELLED"],
.order_item:hover [order_status="CANCELLED"],
.order_item [order_status="ON HOLD"],
.order_item:hover [order_status="ON HOLD"] {
	background-color: red;
	color: white;
}

.drop_file_div:hover {
	border-color: black;
}
.noborder {
	border: none;
}

.price_search_result .price_diff.over_priced {
	background: red;
	color: white;
}
.price_search_result .price_min {
	border-right: 3px #aaa solid;
}
.popover .popover-content.list-group {
	padding: 0px;
}

.address-div .dl-horizontal dt {
	width: 20px;
}
.address-div .dl-horizontal dd {
	margin-left: 30px;
}
.order-info-div .dl-horizontal dt {
	width: 60px;
}
.order-info-div .dl-horizontal dd {
	margin-left: 70px;
}
.update_order_item_div .dl-horizontal dt {
	width: 80px;
}
.update_order_item_div .dl-horizontal dd {
	margin-left: 90px;
}
dl.dl-condensed {
	margin-bottom: 0px;
}

table.table thead td {
	font-weight: bold;
}
.order_change_details_table [order_item_id] > .purchasing,
.order_change_details_table [order_item_id] > .warehouse {
	width: 25%;
}
.order_change_details_table [order_item_id] > .purchasing,
.order_change_details_table [order_item_id]:hover > .purchasing {
	background: #D9EDF7;
}
.order_change_details_table [order_item_id] > .uprice,
.order_change_details_table [order_item_id] > .tprice {
	width: 10%;
	text-align: right;
}
.order_change_details_table [order_item_id] > .qty {
	width: 5%;
	text-align: center;
}
