/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,.form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

small {
	font-size: 10px;
}

b,strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.clearfix:after,.form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	background: #DCDDDF url(images/bg.png);
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.inlineblock {
	display: inline-block;
}

.contentwrapper {
	display: block;
	width: 1000px;
	margin: 0px auto;
}

#frontend {
	background: url("images/bg_top.jpg") repeat-x scroll 0 0 #F3F3F3;
	color: #BEBEBE;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

/******************************** msg divs *************************/
.msgDiv {
	border-radius: 3px;
	margin: 20px 15px;
	padding: 1px;
}

.msgDiv .msg {
	margin: 0;
	padding: 7px 25px;
	display: block;
	text-align: left;
	font-size: 11px;
}
/******* error div **************/
.msgDiv.errorMsgDiv {
	background: none repeat scroll 0 0 #FDE4E1;
	border: 1px solid #B16A6C;
}

.msgDiv.errorMsgDiv .msg {
	background: url("images/i_error.png") no-repeat scroll 4px center
		#F4CAC6;
	color: #630E18;
}
/******* info div **************/
.msgDiv.okMsgDiv {
	background: none repeat scroll 0 0 #F6FFEC;
	border: 1px solid #89B755;
}

.msgDiv.okMsgDiv .msg {
	background: url("images/i_ok.png") no-repeat scroll 4px center #DFF6C5;
	color: #496528;
}
/******* warning div **************/
.msgDiv.warningMsgDiv {
	background: none repeat scroll 0 0 #FFF7CE;
	border: 1px solid #D9C65B;
}

.msgDiv.warningMsgDiv .msg {
	background: url("images/i_warning.png") no-repeat scroll 4px center
		#FDF0B1;
	color: #756B30;
}

/********** headerDiv *********************/
.framewrapper.header a {
	color: #BEBEBE;
}

.framewrapper.header a.logoutBtn {
	color: rgb(240, 126, 1);
}

.headerDiv {
	height: 34px;
	padding: 14px 20px 0;
}

.mainMenuDiv {
	height: 27px;
	margin: 0;
	padding: 5px 20px 0 10px;
	position: relative;
}

.mainMenuDiv ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.mainMenuDiv ul li {
	display: inline;
	float: left;
	margin: 0;
	position: relative;
	text-align: center;
}

.mainMenuDiv ul li a {
	color: #BEBEBE;
	display: block;
	padding: 0 30px 11px 10px;
	text-align: center;
	text-shadow: 0 1px 1px #000000;
}

.mainMenuDiv ul li a:hover {
	color: rgb(240, 126, 1);
}

/****************content *************************/
.content {
	min-height: 300px;
	margin: 30px 0;
}
.contentDiv {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDDE1;
    color: #848484;
    margin: 0 0 20px;
}
.contentDiv .sep {
	border-bottom: 1px dashed #DDDDDD;
    margin: 10px 0;
}
.contentDiv .button {
	background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font: 700 11px Tahoma,Arial,sans-serif;
    margin-right: 10px;
    padding: 7px 12px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.contentDiv .button:hover {
	border: 1px solid rgb(178, 178, 178);
}
.contentDiv .button.disabled,
.contentDiv .button[disabled] {
    border: 1px solid #DCDCDC;
	cursor: auto;
	color: #B6B6B6;
    text-decoration: none;
}

.contentDiv h1, 
.contentDiv h2, 
.contentDiv h3,
.contentDiv h4 {
    color: #444444;
    font-family: Arial,sans-serif;
    margin: 15px 15px 5px;
}

.contentDiv .h_title{
	background: url("images/bg_box_head.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #BEBEBE;
    font-size: 11px;
    font-weight: normal;
    height: 22px;
    padding: 7px 0 0 15px;
    text-shadow: 0 1px 1px #0E0E0E;
}
.contentDiv .h_content {
	margin: 5px 15px;
}
.contentDiv ul,
.contentDiv ol {
	list-style-position: inside;
    margin: 0 0 0 35px;
}

.dataTableWrapper {
	
}
.dataTableWrapper .dataTable {
	border-collapse: collapse;
    margin: 15px;
}
.dataTableWrapper .dataTable .cell{
    border-right: 1px solid #FFFFFF;
    color: #565656;
    padding: 8px;
    vertical-align: top;
    display: inline-block;
    min-height: 15px;
}
.dataTableWrapper .dataTable .row {
	border-bottom: 1px solid #FFFFFF;
}
.dataTableWrapper .dataTable .row:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
}
.dataTableWrapper .dataTable .row:nth-child(2n+1) {
    background: none repeat scroll 0 0 #F7F7F7;
}
.dataTableWrapper .dataTable .row.header {
	background: url("images/bg_box_head.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.dataTableWrapper .dataTable .row.header .cell{
    color: #DACDCD;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #242424;
}
.dataTableWrapper .pagination {
	margin: 5px auto;
    padding: 12px 0;
    text-align: center;
}
.dataTableWrapper .pagination .pageBtn {
	border: 1px solid #D2D2D2;
    color: #444444;
    margin-right: 2px;
}

/****************footer *************************/
.footer .contentwrapper{
	background: transparent url("images/bg_top.jpg") repeat-x scroll center top;
    border-top: 2px solid #404345;
    color: #939393;
    margin: 0 auto;
    padding: 8px 20px;
    text-shadow: 0 1px 1px #111111;
}
.footer .contentwrapper a {
	color: rgb(240, 126, 1);
}
.footer .contentwrapper .footerlogo {
	float: right;
