.splitpanels {
	display: table-row;
}
.splitpanels .splitpanel {
	display: table-cell;
}

.splitpanels .splitpanel.leftpanel,
.splitpanels .splitpanel.rightpanel {
	width: 15%;
}
.splitpanels .splitpanel.leftpanel {
	padding-right: 10px;
}
.splitpanels .splitpanel.rightpanel {
	padding-left: 10px;
}

.splitpanels .splitpanel.maincontent {
	width: auto;
}
