.tipcommentslist .row{
	display: block;
	padding: 0 0 4px 0;
}

.tipcommentslist .row:nth-child(2n) {
    background: none repeat scroll 0 0 #F7F7F7;
}

.tipcommentslist .type {
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: right;
    font-size: 8px;
    padding: 2px;
}

.tipcommentslist .who,
.tipcommentslist .when{
	width: 40%;
	font-size: 10px;
	vertical-align: top;
}
.tipcommentslist .what{
	width: 99%;
	font-size: 10px;
	font-style: italic;
	padding: 0 0 0 10px;
}